#password_reset{
    height:100%;
}

#password_reset_form{
    background-color:#e68a00;
    padding:3%;
    border-radius: 10%;
}

#password_reset_form label,#password_reset_form strong,#password_reset_form p{
    color: white;
}

#password_reset_form a{
    color:#0a6f8c;
}

@media  (min-width: 200px) and (max-width: 599px){
    #password_reset_form{
        width:200px;
    }
  }

@media  (min-width: 600px){
    #password_reset_form{
        width:50%;
    }
  }