{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}
{% block head %}
    <link rel="stylesheet" href="{% static 'account/css/login.css' %}">
    <link rel="stylesheet" href="{% static 'account/css/shared.css' %}">

{% endblock head %}
{% block page_title %}
    {% trans 'ورود' %}
{% endblock page_title %}
{% block content %}
   
    <div class="container mt-3 text-center pt-3" id="login_div">
        <strong class="d-block  border-bottom border-warning text-right">ورود</strong>
        
        <p class="text-right">اگر هنوز ثبت نام نکرده اید. لطفا ابتدا <a href="{% url 'account_signup' %}">ثبت نام </a>کنید.</p>    
        <form action="." method="POST"> 
            {% csrf_token %}
            {% for key, value in form.errors.items %}
                <span class="text-danger">{{ value }}</span>
            {% endfor %}     
            <div class="grid">
            {% for field in form %}
            <div class="row d-flex d-block pb-2 pr-2">
                    {{field.label}}<br>
                    {{field}}
            </div>
            {% endfor %}
                
            </div>
            <button type="submit" class="btn  d-flex mx-auto mb-2" id="custom_btn">ورود</button>
        </form>
        <p>رمز خود را فراموش کرده اید؟<a href="{% url 'account_reset_password' %}">بازیابی</a></p>
    </div>
{% endblock content %}