{% extends 'core/base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'account/css/logout.css' %}" >
{% endblock head %}
{% block page_title %}
    خروج
{% endblock page_title %}
{% block content %}
    <div class="container h-100">
        <section class="d-flex align-items-center justify-content-center text-right p-3" id="logout_div">
            <form  method="post" action="{% url 'account_logout' %}" class="text-center " id="logout_form" >
                <p class="text-center">آیا از خروج خود اطمینان دارید؟</p>
                {% csrf_token %}
                <button  type="submit" class="btn btn-light ">خروج</button>
            </form>
        </section>
    </div>
{% endblock content %}