{% extends "core/base.html" %}
{% load static %}
{% load i18n %}
{% load account %}
{% block head %}
    <link rel="stylesheet" href="{% static 'account/css/shared.css' %}">
{% endblock head %}
{% block head_title %}{% trans "Password Reset" %}{% endblock %}
{% block page_title %}
    {% trans 'تغییر رمز' %}
{% endblock page_title %}
{% block content %}
<div class="container text-right">
    <h1>{% trans "تغییر رمز" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p> رمز خود را فراموش کرده اید؟ ایمیل خود را در زیر وارد کنید سپس ما ایمیلی حاوی لینک  تغییر رمز برای شما ارسال می کنیم.
    </p>
    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn" id="custom_btn" type="submit" value="{% trans 'تغییر رمز' %}" />
    </form>
</div>
{% endblock %}
