{% extends "core/base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'account/css/password_change.css' %}">
{% endblock head %}
{% block content %}
<div class="container h-100">
    <section class="d-flex align-items-center justify-content-center text-right" id="password_change_section">
        <form method="POST" action="{% url 'account_change_password' %}" id="password_change_form" class="form-group">
            {% csrf_token %}
            <label for="oldpassword">گذرواژه فعلی</label>
            <input  class="form-control" type="password" name="oldpassword" id="oldpassword">
            <section class="text-danger bg-light rounded">
                <p>{{form.errors.oldpassword}}</p>
            </section>
            <label for="password1">گذرواژه جدید</label>
            <input  class="form-control" type="password" id="password1" name="password1">
            <section class="text-danger bg-light rounded">
                <p>{{form.errors.password1}}</p>
            </section>
            <label for="password2">تکرار گذر واژه جدید</label>
            <input  class="form-control" type="password" id="password2" name="password2">
            <section class="text-danger bg-light rounded">
                <p>{{form.errors.password2}}</p>
            </section>

            <button type="submit" class="btn btn-light mt-1" name="action" class="btn bg-white" >تغییر گذرواژه</button>
            <section class="d-inline-block m-1">
                <a class="mt-1  text-white " href="{% url 'account_reset_password' %}" >گذرواژه خود را فراموش کرده اید؟ </a>
            </section>
            {% if messages %}
                {% for message in messages %}
                <p class="bg-light text-success m-1 rounded">{{message}}</p>
                {% endfor %}
            {% endif %}
        </form>
    </section>
</div>
{% endblock content %}