{% extends "core/base.html" %}
{% load static  %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}
{% block page_title %}
    {% trans 'تغییر رمز' %}
{% endblock page_title %}
{% block content %}
<div class="container text-right">
    <h1>{% trans "تغییر رمز" %}</h1>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <p>{% blocktrans %}برای شما ایمیلی ارسال کرده ایم.اگر هنوز دریافتش نکرده اید لطفا پوشه اسپم خود را چک کنید.اگر پس از مدت کوتاهی همچنان دریافتش نکردید لطفا به ما ایمیل بدهید.{% endblocktrans %}</p>
</div>
{% endblock %}
