{% extends "core/base.html" %}
{% load i18n %}
{% load static %}
{% block page_title %}
{% trans "تغییر گذرواژه" %}
{% endblock page_title%}
{% block head %}
<link rel="stylesheet" href="{% static 'account/css/password_reset_from_key.css' %}">
{% endblock head %}
{% block content %}
<div class=" container text-right h-100">
    <h1>{% if token_fail %}
        {% trans "توکن غیر قابل قبول" %}
        {% endif %}</h1>
    {% if token_fail %}
    {% url 'account_reset_password' as passwd_reset_url %}
    <p>{% blocktrans %}این آدرس تغییر گذرواژه صحیح نمی باشد احتمالا قبلا از آن استفاده شده است.لطفا یک درخواست <a
            href="{{ passwd_reset_url }}">تغییر گذرواژه جدید </a>بدهید.{% endblocktrans %}</p>

    {% else %}
    <section class="d-flex align-items-center justify-content-center text-right" id="password_reset_div">

        <form method="POST" action="{{ action_url }}" id="password_reset_form">
            <div class="form-group">
                <strong class="d-block  border-bottom border-warning text-right">تغییر گذرواژه</strong>
                <p>گذرواژه جدید خود را در زیر وارد کنید.</p>
                {% csrf_token %}
                {% if form.errors %}
                {% for error in form.non_field_errors %}

                <section class="text-danger bg-light rounded">
                    <strong class="text-right text-danger text-wrap">{{ error|escape }}</strong>
                </section>
                {% endfor %}
                {% endif %}

                <label for="password1">گذرواژه جدید</label>
                <input type="password" class="form-control" name="password1" required id="password1">
                {% if form.errors.password1 %}
                {% for error in form.errors.password1 %}
                <section class="text-danger bg-light rounded m-1 p-1">
                    <i>{{error}}</i>
                </section>
                {% endfor %}
                {% endif %}
                <label for="password2">تکرار گذرواژه جدید</label>
                <input type="password" class="form-control" name="password2" required id="password2">
                {% if form.errors.password2 %}
                {% for error in form.errors.password2 %}
                <section class="text-danger bg-light rounded">
                    <p>{{form.errors.password2}}</p>
                    </section>
                    {% endfor %}
                {% endif %}
                <input type="submit" value="{% trans 'تغییر گذرواژه' %}" class="btn bg-white m-1">
            </div>
        </form>
    </section>
    {% endif %}
</div>
{% endblock %}