{% extends 'core/base.html' %}
{% load static %}
{% block page_title %}
ثبت نام
{% endblock page_title %}
{% block head %}
<link rel="stylesheet" href="{% static 'account/css/signup.css' %}">
{% endblock head %}
{% block content %}
<div class="container h-100">
    <section class="d-flex align-items-center justify-content-center text-right" id="signup_div">
        <form method="POST" action="." id="signup_form">
            <div class="form-group">
                <strong class="d-block d-flex border-bottom border-warning">ثبت نام</strong>
                <span class="d-block  text-right">برای ثبت نام لطفا فرم زیر را پر کنید.</span>
                {% csrf_token %}
                {% for key, value in form.errors.items %}
                <span class="text-danger">{{ value }}</span>
                {% endfor %}
                <div class="grid">
                    {% for field in form %}
                    <div class="row d-block pb-2 pr-2">
                        <span class="d-block text-center">{{field.label}}</span>
                        {{field}}
                    </div>
                    {% endfor %}
                    <em> حساب کاربری داری؟<a href="{% url 'account_login' %}">ورود</a> </em>
                    <button type="submit" class="btn btn-light d-flex mx-auto mb-1 mt-2">ثبت نام</button>
                </div>
            </div>
        </form>
    </section>
</div>
{% endblock content %}