{% extends "core/base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
    <h1>{% trans "Verify Your E-mail Address" %}</h1>

    <p>{% blocktrans %}برای شما ایمیلی حاوی  لینکی برای نهایی سازی ثبت نامتان ارسال کرده ایم .لطفا برای تایید ایمیل خود وارد لینک موجود در ایمیل شوید.اگر ایمیل را در پیدا نکردید لطفا پوشه اسپم خود را چک کنید و در صورت دریافت نکردن آن پس از چند دقیقه به ما خبر دهید.{% endblocktrans %}</p>

{% endblock %}
